.artists {

  &-item {
    padding-bottom: $base;
    margin-bottom: $base;
    border-bottom: rgba($black, 0.2) solid 1px;
    transition: border-color $easeDuration $easeFunction;
    cursor: pointer;

    &:hover {
      border-color: $black;
    }

    .artist__figure {
      width: 15%;
    }
  }
}
