.track {
  border-bottom: rgba($black, 0.2) solid 1px;
  transition: border-color $easeDuration $easeFunction;
  cursor: pointer;
  padding: $base 0;
  display: flex;
  align-items: center;

  &__title {
    flex-grow: 1;
    font-weight: normal;
    margin: 0;
  }

  &:hover {
    border-color: $black;

    .track__button {
      opacity: 1;
    }
  }

  &__button {
    @include play-button;
    opacity: 0.3;
    transition: opacity $easeDuration $easeFunction;
  }
}
